force-app/main/default/flows/Einstein_Sentiment_Prediction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Einstein_Sentiment_Prediction_Plugin</name>
        <label>Einstein Sentiment Prediction Plugin</label>
        <locationX>315</locationX>
        <locationY>393</locationY>
        <actionName>EinsteinLanguagePlugin</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Prediction_Result</targetReference>
        </connector>
        <inputParameters>
            <name>sampleText</name>
            <value>
                <elementReference>Text_for_sentiment_prediction</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>result</assignToReference>
            <name>result</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>Einstein Sentiment Prediction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Sentiment Prediction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Einstein_Sentiment_Prediction</name>
        <label>Einstein Sentiment Prediction</label>
        <locationX>301</locationX>
        <locationY>101</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Einstein_Sentiment_Prediction_Plugin</targetReference>
        </connector>
        <fields>
            <name>Text_for_sentiment_prediction</name>
            <fieldText>Text for sentiment prediction</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Prediction_Result</name>
        <label>Prediction Result</label>
        <locationX>766</locationX>
        <locationY>391</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowResult</name>
            <fieldText>{!Text_for_sentiment_prediction}

{!result}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Einstein_Sentiment_Prediction</startElementReference>
    <status>Active</status>
    <variables>
        <name>result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
